<!DOCTYPE HTML>
<html>
  <head>
    <title> Transmitters Dashboard Tab | Pareto Docs </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Documentation of the transmitters dashboard tab of the Pareto platform by reelyActive.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/pareto-docs.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="../../js/pareto-docs.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49659454-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-app="pareto-docs">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand-img" href="https://www.reelyactive.com">
            <img src="../../images/barnowl-logo-header.png"
                 class="img-responsive">
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../../"> Pareto Docs </a></li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a href="https://pareto.reelyactive.com" target="_blank">
                    Pareto by reelyActive
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="menuitem">
                  <a href="https://www.reelyactive.com" target="_blank">
                    reelyActive website
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <img src="../../images/dashboard-transmitters-title.png"
                 class="img-responsive center-block">
            <h1>
              Transmitters Dashboard Tab <br>
              <small> Observe all radio-identifiable devices, on the basis of real-time location events </small> 
            </h1>
            <p> The transmitters perspective is the alternate for the dashboard.  The transmitters tab provides a graphical overview of real-time location: <b>what is where?</b> </p>
            <span class="lead"> Detected Devices </span>
            <p> The Detected Devices banner displays all (transmitting) devices currently detected.  Each device is represented graphically as a bubble and the total device count is provided.  It is possible to toggle between the compact and expanded view by clicking on <i>Show all Devices</i>. </p>
            <img src="../../images/dashboard-transmitters-transmitters.png"
                 class="img-responsive center-block">
            <p> The <i> Context at directory </i> button is a shortcut to the <a href="../../api/contextual"> Contextual API </a> and the <i> Manage </i> button is a shortcut to the <a href="../../pat"> People and Things View </a>.
            <br><hr><br>
            <span class="lead"> Points of Interest </span>
            <p> The Points of Interest banner displays all places having at least one detected device.  Each point of interest is represented graphically as a bubble and the total count is provided. </p>
            <img src="../../images/dashboard-transmitters-pois.png"
                 class="img-responsive center-block">
            <p> The <i> View Status </i> button is a shortcut to the <a href=""> Infrastructure Status </a> and the <i> Manage </i> button is a shortcut to the <a href="../../poi"> Points of Interest View </a>.
            <br><hr><br>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <img src="../../images/dashboard-transmitters-timeseries.png"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-6">
                <span class="lead"> Detected Transmitters Timeseries </span>
                <p> The Detected Transmitters timeseries chart provides a brief historic overview of displacements between points of interest. </p>
              </div>
            </div>
            <br><hr><br>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <span class="lead"> Detected Transmitters Distribution </span>
                <p> The Detected Transmitters distribution chart provides a breakdown of real-time location by directory (place). </p>
              </div>
              <div class="col-sm-12 col-md-6">
                <img src="../../images/dashboard-transmitters-distribution.png"
                     class="img-responsive center-block">
              </div>
            </div>
            <h2>
              Additional Dashboard Documentation <br>
              <small> Another tab, another perspective </small>
            </h2>
            <!-- Transmitters Tab -->
            <div class="row well">
              <div class="col-sm-3 col-md-4 col-lg-3">
                <a href="../visitors">
                  <img src="../../images/dashboard-visitors-title-icon.png"
                       class="img-responsive center-block">
                </a>
              </div>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <p>
                  <span class="lead"> Visitors Tab: </span>
                  Observe devices likely to carried by people, on the basis of sessions.
                </p>
                <a href="../visitors"
                   class="hidden-xs btn btn-sm btn-primary">
                  Read documentation
                </a>
              </div>
            </div>
            <!-- Dashboard View -->
            <div class="row well">
              <div class="col-sm-3 col-md-4 col-lg-3">
                <a href="../">
                  <img src="../../images/dashboard-title-icon.png"
                       class="img-responsive center-block">
                </a>
              </div>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <p>
                  <span class="lead"> Dashboard Home: </span>
                  Observe the real-time data processed by Pareto.
                </p>
                <a href="../" class="hidden-xs btn btn-sm btn-primary">
                  Read documentation
                </a>
              </div>
            </div>
            <!-- Pareto CTA -->
            <br><br><hr>
            <img src="../../images/pareto-by-reelyactive.jpg"
                 class="img-responsive center-block"> <br>
            <p class="text-center">
              <a href="https://getpareto.com" target="_blank"
                 class="btn btn-default"> Get Pareto </a> &nbsp;
              <a href="https://pareto.reelyactive.com" target="_blank"
                 class="btn btn-primary"> Log In </a> &nbsp;
              <a href="../../" class="btn btn-success"> Pareto Docs </a>
            </p>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="pull-right">
          <img src="../../images/pareto-logo-footer.png" class="img-responsive">
        </div>
        &nbsp;
        <a href="https://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2017
        </a>
      </footer>
    </div>
  </body>
</html>
