<!DOCTYPE HTML>
<html>
  <head>
    <title> Start! | Pareto Docs </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Getting started with the Pareto platform by reelyActive.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/pareto-docs.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="../js/pareto-docs.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49659454-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-app="pareto-docs">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand-img" href="https://www.reelyactive.com">
            <img src="../images/barnowl-logo-header.png" class="img-responsive">
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../"> Pareto Docs </a></li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a href="https://pareto.reelyactive.com" target="_blank">
                    Pareto by reelyActive
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="menuitem">
                  <a href="https://www.reelyactive.com" target="_blank">
                    reelyActive website
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <img src="../images/start-title.png"
                 class="img-responsive center-block">
            <h1>
              Get Started with Pareto! <br>
              <small> An efficient guide to the key features of Pareto by reelyActive </small> 
            </h1>
            <p> Pareto is a cloud platform which interprets and relays real-world state to the web.  This <i>Getting Started Guide</i> is intended not only for a new user to get up and running with the Pareto, but also to introduce the simple yet powerful features which make the platform unique. </p>
            <blockquote>
              <p> "80% of results come from 20% of effort/time" </p>
              <footer> Vilfredo Pareto </footer>
            </blockquote>
            <p> The time and effort spent following this <i>Getting Started Guide</i> will undoubtedly follow this well-known principle! </p>
            <blockquote>
              <p> "When it is useful to them, men can believe a theory of which they know nothing more than its name." </p>
              <footer> Vilfredo Pareto </footer>
            </blockquote>
            <p> Touch&eacute;.  We'll let <i>you</i> be the judge! </p>
            <br>
            <h2>
              Observe all the Devices! <br>
              <small> Start by observing live data in the Pareto dashboard </small> 
            </h2>
            <br>
            <!-- Connect starter kit -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/start-owl-in-one-icon.jpg"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> Connect Starter Kit </span>
                <p> Getting started with Pareto is way better with <b>live data!</b>  If you haven't already done so, connect a starter kit. </p>
                <p class="text-center">
                  <a href="https://getpareto.com/starter-kit/" target="_blank"
                     class="btn btn-sm btn-default"> Buy Starter Kit </a> &nbsp;
                  <a href="https://getpareto.com/connect/" target="_blank"
                     class="btn btn-sm btn-primary"> Connect </a>
                </p>
              </div>
            </div>
            <br><hr><br>
            <!-- Log in to Pareto -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/start-login-icon.jpg"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> Log in to Pareto </span>
                <p> Pareto is hosted at <a href="https://pareto.reelyactive.com" target="_blank">pareto.reelyactive.com</a>.  Login credentials are sent via <b>e-mail</b> following the purchase of a starter kit. </p>
                <p class="text-center">
                  <a href="https://getpareto.com/starter-kit/" target="_blank"
                     class="btn btn-sm btn-default"> Buy Starter Kit </a> &nbsp;
                  <a href="https://pareto.reelyactive.com" target="_blank"
                     class="btn btn-sm btn-primary"> Log in </a>
                </p>
              </div>
            </div>
            <br><hr><br>
            <!-- Observe dashboard data -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/dashboard-title-icon.png"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> Observe Dashboard Data </span>
                <p> Do you see <b>bubbles</b> representing the devices your starter kit detects?  <i>Good!</i> &nbsp; Familiarise yourself with the dashboard view. </p>
                <p class="text-center">
                  <a href="../dashboard" target="_blank"
                     class="btn btn-sm btn-primary"> Read documentation </a>
                </p>
              </div>
            </div>
            <br><hr><br>
            <!-- Visitors vs. Transmitters -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/start-visitors-vs-transmitters.gif"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> Visitors vs. Transmitters </span>
                <p> Observe both tabs, and browse the docs for each.  The <i>distinction</i> is what <b>makes Pareto unique!</b> </p>
                <ul>
                  <li> the <b>Transmitters</b> perspective is that of a real-time location system (RTLS)
                  <li> the <b>Visitors</b> perspective considers only devices likely to be carried by <i>people</i>, and observes these devices over the course of a <i>session</i>
                </ul>
                <p class="text-center">
                  <a href="../dashboard/visitors" target="_blank"
                     class="btn btn-sm btn-primary"> Visitors documentation </a> &nbsp;
                  <a href="../dashboard/transmitters" target="_blank"
                     class="btn btn-sm btn-primary"> Transmitters documentation </a>
                </p>
              </div>
            </div>
            <br><hr><br>
            <h2>
              Observe <i>my</i> Device! <br>
              <small> Discover which bubble is <i>yours</i> and understand how it is represented in Pareto </small> 
            </h2>
            <br>
            <!-- reelyApp -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/start-reelyapp.gif"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> Install reelyApp </span>
                <p> Our <b>reelyApp</b> not only enables your mobile device "advertise" itself with Bluetooth Low Energy, it also specifies <i>how</i> it should be recognised!  Install via the links below: </p>
                <p class="text-center">
                  <a href="https://www.reelyactive.com/reelyapp/" target="_blank"
                     class="btn btn-sm btn-primary"> About </a> &nbsp;
                  <a href="https://play.google.com/store/apps/details?id=com.reelyactive.reelyapp" target="_blank"
                     class="btn btn-sm btn-default"> Android </a> &nbsp;
                  <a href="https://itunes.apple.com/us/app/reelyapp-for-ios/id1121042765" target="_blank"
                     class="btn btn-sm btn-default"> iOS </a>
                </p>
                <p> Alternatively, you can simply enable Bluetooth on your mobile device, or grab a BLE wearable or tracker. </p>
              </div>
            </div>
            <br><hr><br>
            <!-- Hello Device! -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/start-hellodevice.gif"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> Run Hello Device! </span>
                <p> In Pareto, select the <i>Embedded Apps</i> view and then run <b>Hello Device!</b>.  This web application will allow you to observe a specific device, its associated metadata and its packet payload. </p>
                <p> Learn how to access Pareto's <i>Embedded Apps</i>, specifically <i>Hello Device!</i> </p>
                <p class="text-center">
                  <a href="../embeddedapps" target="_blank"
                     class="btn btn-sm btn-primary"> Read documentation </a>
                </p>
              </div>
            </div>
            <br><hr><br>
            <!-- Get close -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/start-proximity.jpg"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> Place device adjacent to sensor </span>
                <p> By default, <i>Hello Device!</i> will display the device with the <b>strongest signal strength</b>.  Place your device as close as possible to the sensor and observe the display: with <i>reelyApp</i> expect to see a familiar image! </p>
                <p> <i>Hello Device!</i> has now introduced the concepts of an <i>event</i>, a <i>story</i> and of <i>payload decoding</i>. </p>
                <p class="text-center">
                  <a href="../embeddedapps/hellodevice" target="_blank"
                     class="btn btn-sm btn-primary"> Read documentation </a>
                </p>
              </div>
            </div>
            <br><hr><br>
            <h2>
              Contextualise all the Sensors! <br>
              <small> Points of Interest are more interesting with metadata </small> 
            </h2>
            <br>
            <!-- POI -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/poi-title-icon.png"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> POI Overview </span>
                <p> In Pareto, select the <i>POI</i> view and identify your sensor.  If it is connected, the status should be <b>ON</b>.  Familiarise yourself with the <i>POI</i> view. </p>
                <p class="text-center">
                  <a href="../poi" target="_blank"
                     class="btn btn-sm btn-primary"> Read documentation </a>
                </p>
              </div>
            </div>
            <br><hr><br>
            <!-- POI Metadata -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/start-poi-edit.png"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> Enter POI Metadata </span>
                <p> Click <i>Edit</i>, enter the following and then click <i>Save</i>: </p>
                <table class="table table-bordered table-striped">
                  <tbody>
                    <tr>
                      <td> Directory </td>
                      <th> building:floor:area </th>
                      <td>
                        <a href="../associations/#directory"
                           class="btn btn-xs btn-default"> Read documentation </a>
                      </td>
                    </tr>
                    <tr>
                      <td> Tags </td>
                      <th> capacity=10 </th>
                      <td>
                        <a href=../associations/#tags""
                           class="btn btn-xs btn-default"> Read documentation </a>
                      </td>
                    </tr>
                    <tr>
                      <td> Position (X | Y | Z) </td>
                      <th> 0.09163 | 52.2107 | 0 </th>
                      <td>
                        <a href="../associations/#position"
                           class="btn btn-xs btn-default"> Read documentation </a>
                      </td>
                    </tr>
                    <tr>
                      <td> Story URL </td>
                      <th> https://reelyactive.com/context/ </th>
                      <td>
                        <a href="../associations/#url"
                           class="btn btn-xs btn-default"> Read documentation </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br><hr><br>
            <!-- Corridor in Cambridge? -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/start-corridor.png"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> A Corridor in Cambridge? </span>
                <p> Yes!  That's what's associated with the <i>Story URL</i> you entered above.  At that URL is a machine-readable <b>JSON-LD "story"</b> which represents the corridor adjacent to the Trojan Room of the University of Cambridge, and is now associated with your sensor. </p>
                <p> Curious about the context?  Well, you'll also find human-readable content at that URL... </p>
                <p class="text-center">
                  <a href="https://reelyactive.com/context/" target="_blank"
                     class="btn btn-sm btn-default"> reelyactive.com/context/ </a>
                </p>
              </div>
            </div>
            <br><hr><br>
            <!-- Building Directory -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/start-dashboard-directory.gif"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> Directory: building </span>
                <p> Return to the <i>Dashboard</i> view and observe the green button named <b>building</b>.  That is the root of the <i>directory</i> you associated with your sensor (<b>building</b>:floor:area). </p>
                <p> Pareto and many <i>Embedded Apps</i> follow this paradigm.  Take advantage of this by specifying directories accordingly. </p>
              </div>
            </div>
            <br><hr><br>
            <!-- Pareto CTA -->
            <br><br>
            <img src="../images/pareto-by-reelyactive.jpg"
                 class="img-responsive center-block"> <br>
            <p class="text-center">
              <a href="https://getpareto.com" target="_blank"
                 class="btn btn-default"> Get Pareto </a> &nbsp;
              <a href="https://pareto.reelyactive.com" target="_blank"
                 class="btn btn-primary"> Log In </a> &nbsp;
              <a href="../" class="btn btn-success"> Pareto Docs </a>
            </p>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="pull-right">
          <img src="../images/pareto-logo-footer.png" class="img-responsive">
        </div>
        &nbsp;
        <a href="https://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2017
        </a>
      </footer>
    </div>
  </body>
</html>
