<!DOCTYPE HTML>
<html>
  <head>
    <title> Google Analytics Integration | Pareto Docs </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Documentation of the integration of Google Analytics with the Pareto platform by reelyActive.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/pareto-docs.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="../../js/pareto-docs.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49659454-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-app="pareto-docs">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand-img" href="https://www.reelyactive.com">
            <img src="../../images/barnowl-logo-header.png"
                 class="img-responsive">
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../../"> Pareto Docs </a></li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a href="https://pareto.reelyactive.com" target="_blank">
                    Pareto by reelyActive
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="menuitem">
                  <a href="https://www.reelyactive.com" target="_blank">
                    reelyActive website
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <img src="../../images/integrations-googleanalytics-title.png"
                 class="img-responsive center-block">
            <h1>
              Google Analytics Integration <br>
              <small> Measure visits to a physical space like visits to a website </small> 
            </h1>
            <p> The Google Analytics integration sends real-time location events to a user-defined GA account.  The Google Analytics integration models <i>"how are people browsing my webpage"</i> as <b><i>"how are people browsing my physical space?"</i></b>
            <p> Each directory, itself a logical grouping of points of interest, is the equivalent of a <i>webpage</i>.  And each real-time location event is the equivalent of a <i>"click"</i>. </p>
            <img src="../../images/integrations-googleanalytics-philosophy.jpg"
                 class="img-responsive center-block">
            <h2>
              Prepare Google Analytics <br>
              <small> Create an account/property and obtain a Tracking ID </small> 
            </h2>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <span class="lead"> Tracking ID </span>
                <p> A Google Analytics <b>Tracking ID</b> (ex: <tt>UA-00000000-0</tt>) is required in order to complete the integration.  Users unfamiliar with GA can watch our tutorial video for detailed steps to obtain their Tracking ID. </p>
                <p class="text-center">
                  <a ng-click="showTutorialVideo = true"
                     class="btn btn-sm btn-default"> Watch Tutorial Video </a>
                </p>
              </div>
              <div class="col-sm-12 col-md-6">
                <img src="../../images/integrations-googleanalytics-trackingid.png"
                     class="img-responsive center-block">
              </div>
            </div>
            <div ng-if="showTutorialVideo">
              <br>
              <div class="embed-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/__I6hF8A2sI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </div>
              <br>
            </div>
            <h2>
              Pareto Integration with GA <br>
              <small> As easy as entering the Tracking ID </small> 
            </h2>
            <p> From the <a href="../">Integrations View</a>, click the <b>New Integration</b> button to create a new integration.  Google Analytics integration is completed with the following two steps: </p>
            <p class="lead"> Step 1: Select Google Analytics </p>
            <img src="../../images/integrations-googleanalytics-wizard-1.png"
                 class="img-responsive center-block">
            <br>
            <p class="lead"> Step 2: Enter the Tracking ID </p>
            <img src="../../images/integrations-googleanalytics-wizard-2.png"
                 class="img-responsive center-block">
            <br>
            <p> Upon clicking <b>Save</b> the integration is complete and Pareto will begin forwarding events to Google Analytics.  Within a few moments, it is possible to observe visitors, if present, from the <b>Real-Time Report</b> feature of Google Analytics. </p>
            <img src="../../images/integrations-googleanalytics-realtime.png"
                 class="img-responsive center-block">
            <br>
            <h2>
              Add Custom Dimensions in GA <br>
              <small> Benefit from additional occupant metadata </small> 
            </h2>
            <p> Pareto adds seven custom dimensions to each event it forwards to Google Analytics.  These dimensions include additional information and inferences about the detected devices. </p>
            <span class="lead"> Browse to Custom Dimensions Interface </span>
            <p> To access these custom dimensions, it is necessary to manually assign each in the Google Analytics Admin console.  The Custom Definitions interface can be reached within GA as follows: </p>
            <ul>
              <li> browse to the <b>Admin</b> console
              <li> select the corresponding <b>Account</b> and <b>Property</b>
              <li> click on <b>Custom Definitions</b> under the Property
              <li> click on <b>Custom Dimensions</b> under Custom Definitions
            </ul>
            <img src="../../images/integrations-googleanalytics-customdimensions.png"
                 class="img-responsive center-block">
            <br><hr><br>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <span class="lead"> Enter Custom Dimensions </span>
                <p> The seven custom dimensions must be entered <b>in order</b> of <i>Index</i>. </p>
                <p> Each custom dimension is entered by clicking the <b>New Custom Dimension</b> button and entering the <i>Name</i> and selecting the <i>Scope</i>, observing the order of the following table. </p>
                <p> Once complete, the Custom Dimensions should resemble the screenshot below. </p>
              </div>
              <div class="col-sm-12 col-md-6">
                <table class="table table-bordered table-striped">
                  <thead>
                    <th> Index </th>
                    <th> Name </th>
                    <th> Scope </th>
                  </thead>
                  <tbody>
                    <tr>
                      <td> 1 </td>
                      <td> Tenant ID </td>
                      <td> Product </td>
                    </tr>
                    <tr>
                      <td> 2 </td>
                      <td> Person Session? </td>
                      <td> Session </td>
                    </tr>
                    <tr>
                      <td> 3 </td>
                      <td> Main Directory </td>
                      <td> Hit </td>
                    </tr>
                    <tr>
                      <td> 4 </td>
                      <td> Story URL </td>
                      <td> Session </td>
                    </tr>
                    <tr>
                      <td> 5 </td>
                      <td> Person Probability </td>
                      <td> Session </td>
                    </tr>
                    <tr>
                      <td> 6 </td>
                      <td> Device Segmentation </td>
                      <td> Session </td>
                    </tr>
                    <tr>
                      <td> 7 </td>
                      <td> Cookie </td>
                      <td> Session </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <img src="../../images/integrations-googleanalytics-customdimensions-entered.png"
                 class="img-responsive center-block"> <br>
            <p> The Custom Dimensions will typically be available in GA Reports <b>within a day</b>.  <i>It is normal for them not to be immediately available!</i> </p>
            <!-- Pareto CTA -->
            <br><br><hr>
            <img src="../../images/pareto-by-reelyactive.jpg"
                 class="img-responsive center-block"> <br>
            <p class="text-center">
              <a href="https://getpareto.com" target="_blank"
                 class="btn btn-default"> Get Pareto </a> &nbsp;
              <a href="https://pareto.reelyactive.com" target="_blank"
                 class="btn btn-primary"> Log In </a> &nbsp;
              <a href="../../" class="btn btn-success"> Pareto Docs </a>
            </p>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="pull-right">
          <img src="../../images/pareto-logo-footer.png" class="img-responsive">
        </div>
        &nbsp;
        <a href="https://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2017
        </a>
      </footer>
    </div>
  </body>
</html>
