<!DOCTYPE HTML>
<html>
  <head>
    <title> Embedded Apps | Pareto Docs </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Documentation of the embedded apps of the Pareto platform by reelyActive.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/pareto-docs.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="../js/pareto-docs.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49659454-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-app="pareto-docs">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand-img" href="https://www.reelyactive.com">
            <img src="../images/barnowl-logo-header.png" class="img-responsive">
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../"> Pareto Docs </a></li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a href="https://pareto.reelyactive.com" target="_blank">
                    Pareto by reelyActive
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="menuitem">
                  <a href="https://www.reelyactive.com" target="_blank">
                    reelyActive website
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <img src="../images/embeddedapps-title.png"
                 class="img-responsive center-block">
            <h1>
              Pareto Embedded Apps <br>
              <small> Discover web applications built directly on Pareto's real-time event data stream </small> 
            </h1>
            <p> The Embedded Apps view is an exhaustive list of web applications accessible within Pareto.  Embedded apps inspire answers to the question: <b><i>what can be done with the real-time data?</i></b> </p>
            <!-- Built on WebSocket API -->
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <img src="../images/api-websocket-title-icon.png"
                     class="img-responsive center-block">
              </div>
              <div class="col-sm-12 col-md-8">
                <span class="lead"> Built on the WebSocket API </span>
                <p> The embedded apps are built on the <i>WebSocket API</i>, typically using <b>beaver.js</b>.  Consult the API documentation for details: </p>
                <p class="text-center">
                  <a href="../api/websocket" target="_blank"
                     class="btn btn-sm btn-primary"> Read documentation </a> &nbsp;
                  <a href="https://reelyactive.github.io/build-web-apps-with-beaver.html" target="_blank"
                     class="btn btn-sm btn-default"> beaver.js </a>
                </p>
              </div>
            </div>
            <br>
            <h2>
              Browse Documentation by Embedded App <br>
              <small> Listed in alphabetical order </small>
            </h2>
            <!-- Hello Device -->
            <div class="row well">
              <div class="col-sm-3 col-md-4 col-lg-3">
                <a href="hellodevice">
                  <img src="../images/embeddedapps-hellodevice-title-icon.png"
                       class="img-responsive center-block">
                </a>
              </div>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <p>
                  <span class="lead"> Hello Device: </span>
                  Observe a specific device, its associated metadata and its packet payload.
                </p>
                <a href="hellodevice" class="hidden-xs btn btn-sm btn-primary">
                  Read documentation
                </a>
              </div>
            </div>
            <!-- Hello Diract -->
            <div class="row well">
              <div class="col-sm-3 col-md-4 col-lg-3">
                <a href="hellodiract">
                  <img src="../images/embeddedapps-hellodiract-title-icon.png"
                       class="img-responsive center-block">
                </a>
              </div>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <p>
                  <span class="lead"> Hello Diract&trade;: </span>
                  Observe real-time directed interactions with Diract&trade; and compatible Eddystone-UID beacons.
                </p>
                <a href="hellodiract" class="hidden-xs btn btn-sm btn-primary">
                  Read documentation
                </a> &nbsp;
                <a href="https://reelyactive.github.io/pareto-apps/"
                   class="hidden-xs btn btn-sm btn-default" target="_blank">
                  Examples
                </a>
              </div>
            </div>
            <!-- Hello Events -->
            <div class="row well">
              <div class="col-sm-3 col-md-4 col-lg-3">
                <a href="helloevents">
                  <img src="../images/embeddedapps-helloevents-title-icon.png"
                       class="img-responsive center-block">
                </a>
              </div>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <p>
                  <span class="lead"> Hello Events: </span>
                  Observe the real-time location events streaming out of Pareto.
                </p>
                <a href="helloevents" class="hidden-xs btn btn-sm btn-primary">
                  Read documentation
                </a>
              </div>
            </div>
            <!-- Hello Filters -->
            <div class="row well">
              <div class="col-sm-3 col-md-4 col-lg-3">
                <a href="hellofilters">
                  <img src="../images/embeddedapps-hellofilters-title-icon.png"
                       class="img-responsive center-block">
                </a>
              </div>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <p>
                  <span class="lead"> Hello Filters: </span>
                  Experiment with and tweak presence filters.
                </p>
                <a href="hellofilters" class="hidden-xs btn btn-sm btn-primary">
                  Read documentation
                </a>
              </div>
            </div>
            <!-- Hello Sensors -->
            <div class="row well">
              <div class="col-sm-3 col-md-4 col-lg-3">
                <a href="hellosensors">
                  <img src="../images/embeddedapps-hellosensors-title-icon.png"
                       class="img-responsive center-block">
                </a>
              </div>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <p>
                  <span class="lead"> Hello Sensors: </span>
                  Visualise real-time sensor data.
                </p>
                <a href="hellosensors" class="hidden-xs btn btn-sm btn-primary">
                  Read documentation
                </a>
              </div>
            </div>
            <!-- Live Directory -->
            <div class="row well">
              <div class="col-sm-3 col-md-4 col-lg-3">
                <a href="livedirectory">
                  <img src="../images/embeddedapps-livedirectory-title-icon.jpg"
                       class="img-responsive center-block">
                </a>
              </div>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <p>
                  <span class="lead"> Live Directory: </span>
                  Ambient visualisation of the real-time location of people and assets by zone.
                </p>
                <a href="livedirectory" class="hidden-xs btn btn-sm btn-primary">
                  Read documentation
                </a> &nbsp;
                <a href="https://reelyactive.github.io/pareto-apps/"
                   class="hidden-xs btn btn-sm btn-default" target="_blank">
                  Examples
                </a>
              </div>
            </div>
            <!-- Raindrops -->
            <div class="row well">
              <div class="col-sm-3 col-md-4 col-lg-3">
                <a href="raindrops">
                  <img src="../images/embeddedapps-raindrops-title-icon.jpg"
                       class="img-responsive center-block">
                </a>
              </div>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <p>
                  <span class="lead"> Raindrops: </span>
                  Visualisation of real-time location events as raindrops on a map.
                </p>
                <a href="raindrops" class="hidden-xs btn btn-sm btn-primary">
                  Read documentation
                </a> &nbsp;
                <a href="https://reelyactive.github.io/pareto-apps/"
                   class="hidden-xs btn btn-sm btn-default" target="_blank">
                  Examples
                </a>
              </div>
            </div>
            <!-- Receiver Status -->
            <div class="row well">
              <div class="col-sm-3 col-md-4 col-lg-3">
                <a href="receiverstatus">
                  <img src="../images/embeddedapps-receiverstatus-title-icon.png"
                       class="img-responsive center-block">
                </a>
              </div>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <p>
                  <span class="lead"> Receiver Status: </span>
                  Visualisation of receiver status in tabular form.
                </p>
                <a href="receiverstatus" class="hidden-xs btn btn-sm btn-primary">
                  Read documentation
                </a>
              </div>
            </div>
            <!-- Sonar -->
            <div class="row well">
              <div class="col-sm-3 col-md-4 col-lg-3">
                <a href="sonar">
                  <img src="../images/embeddedapps-sonar-title-icon.jpg"
                       class="img-responsive center-block">
                </a>
              </div>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <p>
                  <span class="lead"> Sonar: </span>
                  Ambient visualisation of real-time occupancy by zone.
                </p>
                <a href="sonar" class="hidden-xs btn btn-sm btn-primary">
                  Read documentation
                </a> &nbsp;
                <a href="https://reelyactive.github.io/pareto-apps/"
                   class="hidden-xs btn btn-sm btn-default" target="_blank">
                  Examples
                </a>
              </div>
            </div>
            <!-- Pareto CTA -->
            <br><br><hr>
            <img src="../images/pareto-by-reelyactive.jpg"
                 class="img-responsive center-block"> <br>
            <p class="text-center">
              <a href="https://getpareto.com" target="_blank"
                 class="btn btn-default"> Get Pareto </a> &nbsp;
              <a href="https://pareto.reelyactive.com" target="_blank"
                 class="btn btn-primary"> Log In </a> &nbsp;
              <a href="../" class="btn btn-success"> Pareto Docs </a>
            </p>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="pull-right">
          <img src="../images/pareto-logo-footer.png" class="img-responsive">
        </div>
        &nbsp;
        <a href="https://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2017-2018
        </a>
      </footer>
    </div>
  </body>
</html>
