<!DOCTYPE HTML>
<html>
  <head>
    <title> Points of Interest | Pareto Docs </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Documentation of the points of interest view of the Pareto platform by reelyActive.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/pareto-docs.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="../js/pareto-docs.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49659454-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-app="pareto-docs">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand-img" href="https://www.reelyactive.com">
            <img src="../images/barnowl-logo-header.png" class="img-responsive">
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../"> Pareto Docs </a></li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" uib-dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem">
                  <a href="https://pareto.reelyactive.com" target="_blank">
                    Pareto by reelyActive
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="menuitem">
                  <a href="https://www.reelyactive.com" target="_blank">
                    reelyActive website
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <img src="../images/poi-title.png"
                 class="img-responsive center-block">
            <h1>
              The Pareto Points of Interest View <br>
              <small> Assign metadata to deployed infrastructure and observe its status </small> 
            </h1>
            <p> The Points of Interest view lists all the infrastructure assigned to the Pareto account.  The Points of Interest view allows the assignment of metadata: <b><i>what does each place represent?</i></b> </p>
            <span class="lead"> POI Overview </span>
            <p> Each infrastructure device, or POI, has an overview.  The overview presents: </p>
            <ul>
              <li> associated metadata
              <li> current status
            </ul>
            <img src="../images/poi-poi.png"
                 class="img-responsive center-block">
            <br>
            <p> There are three possible actions for each POI, as follows: </p>
            <ul>
              <li> query <b>What at?</b> which is a shortcut to the <a href="../api/rtls">RTLS API</a>: <br>
                   <code> /whatat/receiver/{receiver-id} </code>
              <li> create a <b>New Story</b>
              <li> <b>Edit</b> the associated metadata, as described below
            </ul>
            <br><hr><br>
            <span class="lead"> POI Edit </span>
            <p> The metadata associated with any POI can be edited by clicking on its <b>Edit</b> button. </p>
            <img src="../images/poi-poi-edit.png"
                 class="img-responsive center-block">
            <br>
            <p> There are four properties which may be edited: </p>
            <ul>
              <li> the associated <b>Directory</b>
              <li> the associated array of <b>Tags</b>
              <li> the <b>Position</b> of the device (if fixed)
              <li> the associated <b>URL</b> (story)
            </ul>
            <p> Edits are saved by clicking <b>Save</b> or cancelled by clicking <b>Cancel</b>.  <i>Associations</i> enable powerful features both within Pareto and in external applications. </p>
            <p class="text-center">
              <a href="../associations/"
                 class="btn btn-primary"> Read documentation </a> &nbsp;
              <a href="../associations/#directory"
                 class="btn btn-default"> Directory </a> &nbsp;
              <a href="../associations/#tags"
                 class="btn btn-default"> Tags </a> &nbsp;
              <a href="../associations/#position"
                 class="btn btn-default"> Position </a> &nbsp;
              <a href="../associations/#url"
                 class="btn btn-default"> URL </a>
            </p>
            <!-- Pareto CTA -->
            <br><br><hr>
            <img src="../images/pareto-by-reelyactive.jpg"
                 class="img-responsive center-block"> <br>
            <p class="text-center">
              <a href="https://getpareto.com" target="_blank"
                 class="btn btn-default"> Get Pareto </a> &nbsp;
              <a href="https://pareto.reelyactive.com" target="_blank"
                 class="btn btn-primary"> Log In </a> &nbsp;
              <a href="../" class="btn btn-success"> Pareto Docs </a>
            </p>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="pull-right">
          <img src="../images/pareto-logo-footer.png" class="img-responsive">
        </div>
        &nbsp;
        <a href="https://www.reelyactive.com"
           uib-tooltip="We believe in an open Internet of Things"
           tooltip-placement="right">
          &copy; reelyActive 2017
        </a>
      </footer>
    </div>
  </body>
</html>
